html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    font-family: 'Lato', sans-serif;
}

/* Links in the nav bar */
.navbar-default .navbar-nav>li>a:hover {
    background-color: blue;
}

.navbar-default .navbar-nav>li>a{
    width: 100px;
    text-align: center;
}

.navbar-default {
  margin: 0;
  border: none;
}

.container {
    display: block;
    background: #CFF;
    height:110%;
    width:100%;
    box-sizing:border-box;
    display:table;
}

#hi_container{
  background-color: grey;

}

#intro_container{
  background-color: purple;

}

#skills_container{
  background-color: blue;
}

#projects_container{
  background-color: green;
}

#about_container{
  background-color: yellow;
}

#contact_container{
  background-color: red;
}

#hi_text{
  text-align: center;
  /*Vertical align text in a cell. Need parent styling too*/
  display: table-cell;
  vertical-align: middle;
}
