
body {
  text-align: center;
}
p {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
}

/* ----------------------------------
NAVBAR
------------------------------------*/



/* ----------------------------------
NAVBAR END
------------------------------------*/


#about {
  height: 800px;
  background-color: white;

}

#jaypic {
  margin: 0 auto;
  height:300px;
  width: 300px;
  border-radius: 50%;
  background-color: red;
}

.about_text {
  margin-top: 10px;
  font-size: 1.5em;
  color: #353439;
}

#title_name {
  font-size: 2em;
  letter-spacing: 2px;
}

#skills {
  height: 800px;
}

#skills span {
    top: -2.1em;
    position: relative;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 2.5em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #f5f5f5;
}

progress::-webkit-progress-value {
    background-color: #353439;
}

progress::-moz-progress-bar {
    background-color: #f5f5f5;
}


/* ------------------------------
Work Gallery
---------------------------------*/

#work {
	height: ;
}

#work h1 {
	margin-bottom: 20px; /* space after title */
}

.gallery li {
	margin: 0 auto; /*center boxes within cols horizontally*/
	display: inline-block;
	transform: translate(0,0); /*center vertically */
	padding: 10px; /*space between boxes */
}



.text-content {
	background: #2C3E50;
	opacity: .5;
	color: white;
	cursor: pointer;
	display: table;
	height: 267px;
	width: 400px;
	position: absolute;
	left: 10px;
	top: 10px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;

}

.text-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
}

.gallery li:hover .text-content, .gallery li:focus .text-content, .gallery li:active .text-content {
	opacity: .65;
}

/* ----------------------------------
End of Work Gallery
------------------------------------*/

/* -----------------------------------
Projects page
-------------------------------------*/

#projects {
  max-height: 1800px;
  margin: 50px auto;

}

/*******
Contact page
********/

#contact {
  min-height: 200px;
  padding: 3em;
  text-align: center;
}

.fa {
  color: #2f3237;
  margin: 0 0.5em;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.fa-envelope {
  margin: .75em;
}

.fa-envelope:hover {
   animation: bounce 1s;
   color: #31387E;
}

input, textarea {
  padding: 10px;
  margin-bottom: 1em !important;
  width: 100%;
  letter-spacing: 0.1em;
  border: 1px solid #2f3237;
  border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2f3237;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #2f3237;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #2f3237;
}
:-moz-placeholder { /* Firefox 18- */
  color: #2f3237;
}

#message {
  height: 100px;
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}

.submitBtn {
  width: 100%;
  color: #2f3237;
  background-color: white;
  border: 1px solid #2f3237;
  margin-top: 0.75em;
  border-radius: 20px;
  padding: 10px;
}

.social:hover {
  color: #F6C02D;
}

.submitBtn:hover {
    color: white;
    background-color: #0064ab;
}
